* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    font-family: 'General Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../public/hotel2.png) no-repeat 50% 50%;
}

header {
    background-color: #3eb1f4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

main {
    padding: 20px;
}

.order-form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

.extras label {
    display: inline-block;
    margin-right: 10px;
}


.btn-submit {
    background-color: #3eb1f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
}

.btn-submit:hover {
    background-color: #3eb1f4;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 0.9em;
}