

html {
    background-color: #0f172a;
    overflow: visible;
}
.banner2 {
	width: 100vw;
	height: 100vh;
	background-color: #0f172a;
	background-size: contain;
	Background-repeat: no-repeat;
}

.headline{
	width: 100%;
	top: 50%;
	transform: translateY(-150%) ;
	text-align: center;
	color: #ffffff;
	text-decoration: underline;
	text-decoration-color: #D6BB0E;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 250px;
    display: flex;
    justify-content:center
    
    
}
.container2 {
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 400px;
    display: flex;
    justify-content:center
    
    
}

.container img{
    max-width: 100vw;
    height: 300px;
    width: 400px;
    margin-bottom: 5vh
}

.container2 img{
    margin-top: 5vh;
    height: 300px;
    width: 400px;
}



.text {
    position: relative;
    margin: 50px;
}
.text h2{
    text-align: center;
    color: #D6BB0E;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 15px;


}

.text p {
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;

}

h3 {
    color: #0f172a;
    user-select: none;
}