html {
    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
	
}
a {
	color: #fff;
}

body {
    font-family: 'General Sans', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
}

.banner {
	width: 100vw;
	height: 100vh;
	background-size: contain;
	Background-repeat: no-repeat;
}

.navbar {
	width: 100%;
	margin: auto;
	padding: 0px 0;
	display: flex;
	align-content: center;
	justify-content: space-between;

}


.logo {
	width: 120px;
	margin-left: 35px;
	cursor: pointer;
	padding-top: -2px;
}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	padding-top: 40px;

}

.navbar ul li a{
	text-decoration: none;
	color:#3c5b56  ;
	text-transform: uppercase;
	display: text;

}

.navbar ul li::after{
	content: "";
	height: 3px;
	width: 0;
	background: #D6BB0E;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}

.content p {
	margin:20px auto;
}

button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #D6BB0E;
	background: transparent;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

span {
	background: #D6BB0E;
	width: 0;
	height: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
}

button:hover span {
	width: 100%;
	transition: 0.3s;

}
button:hover {
	border: none;
}